<div *ngIf="employee && !success">
    <table>
        <tr>
            <td>Id:</td>
            <td><label>{{employee.EmployeeId}}</label></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" [(ngModel)]="employee.Name"/></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td><input type="text" [(ngModel)]="employee.Department" /></td>
        </tr>
        <tr>
            <td>Street:</td>
            <td><input type="text" [(ngModel)]="employee.Address.Street" /></td>
        </tr>
        <tr>
            <td>State:</td>
            <td><input type="text" [(ngModel)]="employee.Address.State" /></td>
        </tr>
        <tr>
            <td>Pincode:</td>
            <td><input type="text" [(ngModel)]="employee.Address.Pincode" /></td>
        </tr>
    </table>
    <button (click)="SaveEdit()">Save</button>
    <button  [routerLink]="['/employees']">Cancel</button>
</div>
<div *ngIf="success">
    <h2>Edited Successfully</h2>
    <button [routerLink]="['/employees']">Back</button>
</div>
